@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  overscroll-behavior: none;
  background-color: #000;
  background-image:
  radial-gradient(circle, rgba(255,255,255,0.08) 1px, transparent 1px),
  radial-gradient(circle at 50% 50%, rgba(255,255,255,0.07), transparent 70%);
  background-size: 22px 22px, 100% 100%;
  background-repeat: repeat;
}

html {
scroll-behavior: smooth;
scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


