@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  overscroll-behavior: none;
  background-color: #0b0b0b;
  background-image:
  radial-gradient(circle, rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 22px 22px;
  background-repeat: repeat;
}

html {
scroll-behavior: smooth;
scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
